# PyCharm service folder
.idea
.vscode
*__pycache__

# Python virtual environment
.venv

# dbs
*.db
*.db-journal

# research
*.ipynb_checkpoints
*tmp*
*notebooks

# other files
*.png
*.xlsx
*.csv
*.aux
*.log
*.tex

# results
Results/
Results_Python_implementation/

# files of GNBG functions
*.mat
*.json

# other
*.DS_Store
