# PyCharm and VS Code service folders
.idea
.vscode
*__pycache__

# Python virtual environment
.venv

# dbs
*.db
*.db-journal

# research
*.ipynb_checkpoints
*tmp*
*notebooks

# other files
*.png
*.xlsx
*.csv
*.aux
*.log
*.tex

# results
Results/
Results_Python_implementation/

# original source code
gnbg24/gnbg24.h
l_srtde/L-SRTDE.cpp

# other
*.DS_Store
