# PyCharm service folder
.idea
.vscode
*__pycache__

# Python virtual environment
.venv

# dbs
*.db
*.db-journal

# research
*.ipynb_checkpoints
*.xlsx
*.csv
*tmp*
*.pdf
*notebooks
*.png
results/

# files of GNBG functions
*.mat

# other
*.DS_Store
